<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="{% static 'files/SIGN_UP/SIGN UP.CSS'%}">
</head>
<body class="body">
    <h1 CLASS="heading">SIGN UP</h1>
        <h2 class="heading2">STUDENT PORTAL</h2>
        <div class="sign-up">
            <form id="sign up" method="post" >
                <label><b>
                   First Name:
                   <input class="name" type="text" name="Fname" id="uname" placeholder="  First">
                   <br><br>
                </b></label>
               
                <label><b>
                    Last Name:
                    <input class="name" type="text" name="Lname" id="uname" placeholder="  Last">
                <br><br>
                </b></label>
                
                <label><b>
                    <label><b>
                        Password:
                        <input class="Password" type="password" placeholder="  Enter Password">
                        <br><br>
                    </b></label>
                   
                    <label><b>
                        Confirm Password:
                        <input class="Password" type="password" placeholder="  Re-enter Password">
                    <br><br>
                    </b></label>
                    
                <label><b>
                    School-Email:
                    <input class="name" type="text" placeholder="  name@gmail.com">
                <br><br>
                </b></label>
                
                <label><b>
                    Matriculation Number:
                    <input class="name" type="text" placeholder="Matric Number">
                <br><br>
                </b></label>
                
                <label><b>
                    Level:
                    <input class="level" type="text" placeholder="Year">
                <br><br>
                </b></label>
                
                <label><b>
                    DEPARTMENT:
                    <input class="name" type="text" placeholder="Department">
                <br><br>
                </b></label>
                    <input type="checkbox" id="check" name="remember">
                    <span class="span">Remember me</span><br><br>
                    <div class="can">
                        <input class="sign"  type="submit" id="sign" value="SIGN UP">
                       <br><br> 
                        <a href="/project/" ><button class="log" rel="stylesheet"  type="button" >LOGIN</button></a>
                        <br><br>
                    </div>

</body>
<html>
    

